[alias]
	co = "checkout"
	f = "fetch"
	fp = "push --force"
	p = "pull"
	s = "status"

[core]
	editor = "vim"

[credential]
	helper = /mnt/c/Users/m/scoop/apps/git/current/mingw64/bin/git-credential-manager.exe

[diff]
	tool = "vimdiff"

[difftool]
	prompt = false

[merge]
	ff = "only"

[pull]
	rebase = false

[push]
	autoSetupRemote = true